<h1><strong>맛있게 한끼ㅎ</strong></h1>

<ul>
     -멤버-
  <% User.all.each do |u| %>
        <li> <strong><%= u.name%></strong> <%= link_to 'edit', shuffle_edit_path(u) %> <%= u.vacation ? '휴가중.. ':''%></li>
  <%end%>
</ul>

<form action="/shuffle/shuffle">
  <input type="submit" value ="조 짜기">
</form>